@model XL.CHC.Web.Models.MealRecordSearchViewModel
@{
    ViewBag.Title = "刷卡记录管理";
    ViewBag.CurrentPage = "CustomerManage_MealRecordManage";
}
<div class="row">
    <div class="col-md-12 ">
        <div class="portlet  light">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-2x fa-group font-blue"></i><span class="caption-subject font-blue bold uppercase">饭卡管理</span></div>
                <div class="actions">
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    @using (Html.BeginForm("Index", "MealRecord", FormMethod.Post, new { id = "search_submit_form" }))
                    {
                        @*@Html.HiddenFor(x => x.SortCol)
                            @Html.HiddenFor(x => x.SortType)*@
                        @Html.HiddenFor(x => x.PageIndex)
                        <input type="hidden" id="ActionType" name="ActionType" value="Search" />
                        <div class="form-body   ">
                            <div class="row margin-bottom-10">
                                <div class="col-md-6 col-lg-6 ">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn grey" type="button" style="width:120px">员工号：</button>
                                        </span>
                                        <div class="input-group input-large input-daterange">
                                            @Html.TextBoxFor(x => x.EMPLOYEE_ID, new { @class = "form-control", @name = "from" })
                                        </div>
                                    </div>
                                    <span class="help-block font-red">
                                        @Html.ValidationMessageFor(x => x.EMPLOYEE_ID)
                                    </span>
                                </div>
                                <div class="col-md-6 col-lg-6 ">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn grey" type="button" style="width:120px">卡号：</button>
                                        </span>
                                        <div class="input-group input-large input-daterange">
                                            @Html.TextBoxFor(x => x.EMPLOYEE_CARD, new { @class = "form-control", @name = "from" })
                                        </div>
                                    </div>
                                    <span class="help-block font-red">
                                        @Html.ValidationMessageFor(x => x.EMPLOYEE_CARD)
                                    </span>
                                </div>

                            </div>

                            <div class="row margin-bottom-10">

                                <div class="col-md-6 col-lg-6 ">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn grey" type="button" style="width:120px">部门：</button>
                                        </span>
                                        <div class="input-group input-large input-daterange">
                                            @Html.TextBoxFor(x => x.DEPARTMENT_NAME, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <span class="help-block font-red">
                                        @Html.ValidationMessageFor(x => x.DEPARTMENT_NAME)
                                    </span>
                                </div>
                                <div class="col-md-6 col-lg-6 ">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn grey" type="button" style="width:120px">统计时间：</button>
                                        </span>
                                        <div class="input-group input-large date-picker input-daterange" data-date-format="yyyy-MM-dd">
                                            @Html.TextBoxFor(x => x.STime, new { @class = "form-control", @name = "from" })
                                            @*<input type="text" class="form-control" name="from">*@
                                            <span class="input-group-addon">
                                                ~
                                            </span>
                                            @Html.TextBoxFor(x => x.ETime, new { @class = "form-control", @name = "to" })
                                            @*<input type="text" class="form-control" name="to">*@
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row margin-bottom-10">

                                <div class="col-md-6 col-lg-6 ">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn grey" type="button" style="width:120px">员工名(拼音)：</button>
                                        </span>
                                        <div class="input-group input-large input-daterange">
                                            @Html.TextBoxFor(x => x.EMPLOYEE_NAME, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <span class="help-block font-red">
                                        @Html.ValidationMessageFor(x => x.EMPLOYEE_NAME)
                                    </span>
                                </div>
                                <div class="col-md-6 col-lg-6 ">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn grey" type="button" style="width:120px">餐类：</button>
                                        </span>
                                        <div class="input-group input-large input-daterange">
                                            @Html.DropDownListFor(x => x.MEAL_CLASS, Model.MealClasses, new { @class = "form-control" })
                                        </div>
                                        @*<div class="input-group input-large input-daterange">
                        <select id="Includ_coffee" name="Includ_coffee" class="form-control" >
                            @if (Model.Includ_coffee.HasValue)
                            {
                                if (Model.Includ_coffee.Value)
                                {
                                    <option value="True" selected="selected">只含咖啡</option>
                                    <option value="False" >不含咖啡</option>
                                }
                                else
                                {
                                    <option value="True" >只含咖啡</option>
                                    <option value="False" selected="selected">不含咖啡</option>
                                }
                            }
                            else
                            {
                                <option value="True" >只含咖啡</option>
                                <option value="False" selected="selected">不含咖啡</option>
                            }
                        </select>
                    </div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-bottom-10">
                                <div class="col-md-6 col-lg-6 ">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn grey" type="button" style="width:120px">加班：</button>
                                        </span>
                                        <div class="input-group input-large input-daterange">
                                            <select id="IS_Extra_Meal" name="IS_Extra_Meal" class="form-control">
                                                @if (Model.IS_Extra_Meal.HasValue)
                                                {
                                                    if (Model.IS_Extra_Meal.Value)
                                                    {
                                                        <option value="True" selected="selected">只含加班</option>
                                                        <option value="False">不含加班</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="True">只含加班</option>
                                                        <option value="False" selected="selected">不含加班</option>
                                                    }
                                                }
                                                else
                                                {
                                                    <option value="True">只含加班</option>
                                                    <option value="False" selected="selected">不含加班</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-actions margin-top-10">
                                <button type="submit" class="btn blue"><i class="fa fa-search"></i>查询</button>
                                <a class="btn blue" href="/MealRecord/Index">
                                    <i class="fa fa-refresh"></i> 重置
                                </a>
                            </div>

                        </div>


                    }
                </div>
                <div class="full-height-content-body">
                    <div class="portlet box blue   margin-top-20 ">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-2x fa-cube"></i>查询结果 (共 @Model.ViewList.TotalCount 条记录 @Model.ViewList.TotalPages 页)
                            </div>
                            <div class="actions">
                                <button class="btn grey" onclick="Download()"><i class="glyphicon glyphicon-save-file"></i> 导出EXCEL</button>
                            </div>
                        </div>
                        <div class="portlet-body light-grey">
                            <div class="table-scrollable">

                                <table id="tableProject" class="table table-striped table-bordered table-hover" data-height="200">
                                    <thead>
                                        <tr>
                                            @*<th style="min-width:150px">
                                                操作
                                            </th>*@
                                            <th>
                                                卡号
                                            </th>
                                            <th>
                                                员工名
                                            </th>
                                            <th>
                                                公司
                                            </th>
                                            <th>
                                                部门
                                            </th>
                                            <th>
                                                员工号
                                            </th>
                                            <th>
                                                时段
                                            </th>
                                            <th>
                                                餐名
                                            </th>
                                            <th>
                                                单价
                                            </th>

                                            <th>
                                                数量
                                            </th>
                                            <th>
                                                总价
                                            </th>
                                            <th>
                                                用餐时间
                                            </th>
                                            <th>
                                                成本中心
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.ViewList)
                                        {
                                            <tr>
                                                @*<td>
                                                    <a class="btn default btn-xs blue" href="/Customer/CreateOrUpdate/@item.ROW_ID"><i class="fa fa-edit"></i> 修改</a>
                                                    <a class="btn default btn-xs grey" href="javascript:if(confirm('确实要删除吗?'))location='/Customer/Delete/@item.ROW_ID'">
                                                        <i class="fa fa-trash-o"></i> 删除
                                                    </a>
                                                </td>*@
                                                <td>
                                                    @item.Employee.EMPLOYEE_CARD
                                                </td>
                                                <td>
                                                    @item.Employee.EMPLOYEE_NAME
                                                </td>
                                                <td>
                                                    @item.Employee.COMPANY_CODE
                                                </td>
                                                <td>
                                                    @item.Employee.DEPARTMENT_NAME
                                                </td>
                                                <td>
                                                    @item.Employee.EMPLOYEE_ID
                                                </td>
                                                <td>
                                                    @switch (item.MEAL_CLASS)
                                                    {
                                                        case "Breakfast":
                                                            <span>早餐</span>
                                                            break;
                                                        case "Lunch":
                                                            <span>午餐</span>
                                                            break;
                                                        case "Dinner":
                                                            <span>晚餐</span>
                                                            break;
                                                        case "Supper":
                                                            <span>夜宵</span>
                                                            break;
                                                        case "Coffee":
                                                            <span></span>
                                                            break;
                                                    }
                                                </td>
                                                <td>
                                                    @switch (item.MEAL_TYPE_CODE)
                                                    {
                                                        case "chinese food":
                                                            <span>中餐</span>
                                                            break;
                                                        case "western food":
                                                            <span>西餐</span>
                                                            break;
                                                        case "special food":
                                                            <span>特色餐</span>
                                                            break;
                                                        case "supper":
                                                            <span>夜宵</span>
                                                            break;
                                                        case "coffee":
                                                            <span>咖啡</span>
                                                            break;
                                                        case "rice soup":
                                                            <span>粥</span>
                                                            break;
                                                    }
                                                </td>
                                                <td>
                                                    @item.MEAL_PRICE
                                                </td>
                                                <td>
                                                    @item.QUANTITY
                                                </td>
                                                <td>
                                                    @item.MEAL_AMOUNT
                                                </td>

                                                <td>
                                                    @item.MEAL_DATETIME.ToString("yyyy-MM-dd HH:mm:ss")
                                                </td>
                                                <td>
                                                    @item.Employee.COMBO_CODE
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    @if (Model.ViewList.TotalPages > 1)
                                    {
                                        <ul class="pagination">
                                            @if (Model.ViewList.PageIndex > 1)
                                            {
                                                <li>
                                                    <a href="javascript:;" onclick="GoPage(1)">
                                                        <i class="fa fa-angle-left"></i>
                                                    </a>
                                                </li>
                                            }
                                            @if (Model.ViewList.PageIndex > 8)
                                            {
                                                <li>
                                                    <a href="javascript:;">...</a>
                                                </li>
                                            }
                                            @for (var i = 1; i <= Model.ViewList.TotalPages; i++)
                                            {
                                                if (i == Model.ViewList.PageIndex)
                                                {
                                                    <li>
                                                        <a href="javascript:;" class="font-red">
                                                            @i
                                                        </a>
                                                    </li>
                                                }
                                                else if (i >= Model.ViewList.PageIndex - 7 && i <= Model.ViewList.PageIndex + 7)
                                                {
                                                    <li>
                                                        <a href="javascript:;" onclick="GoPage(@i)">
                                                            @i
                                                        </a>
                                                    </li>
                                                }
                                            }
                                            @if (Model.ViewList.PageIndex < Model.ViewList.TotalPages - 8)
                                            {
                                                <li>
                                                    <a href="javascript:;">...</a>
                                                </li>
                                            }
                                            @if (Model.ViewList.PageIndex != Model.ViewList.TotalPages)
                                            {
                                                <li>
                                                    <a href="javascript:;" onclick="GoPage(@Model.ViewList.TotalPages)">
                                                        >
                                                        <i class="fa fa-angle-right"></i>
                                                    </a>
                                                </li>
                                            }

                                        </ul>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    function GoPage(pageIndex)
    {
        $("#PageIndex").val(pageIndex);
        $("#search_submit_form").submit();
    }

    function Download()
    {
        $("#ActionType").val("Download");
        $("#search_submit_form").submit();
    }

    function SortColumn(colName)
    {
        $("#SortCol").val(colName);
        var sortType = $("#SortType").val();
        if (sortType == "DESC")
        {
            $("#SortType").val("ASC");
        }
        else
        {
            $("#SortType").val("DESC");
        }
        GoPage(1);
    }
</script>
